@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global styles or import it directly */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

html {
  @apply font-sans;
}

.hero {
  @apply flex flex-col items-center justify-center h-screen;
  background-image: url('/public/img/home-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  max-height: 100vh;
  /* overflow-y: auto; */
  padding-bottom: 2rem;
}

.carousel-with-gap .slick-slide {
  padding: 0 10px; /* Adds horizontal gap between slides */
}

.slick-list {
  margin: 0 -10px; /* Offsets the padding to maintain alignment */
}

@media (max-width: 1024px) {
  .hero {
    min-height: 50%;
  }
}

@media (max-width: 900px) {
  .hero {
    min-height: 70%;
  }
}
@media (max-width: 600px) {
  .hero {
    min-height: 90%;
    box-sizing: border-box;
  }
}
